DAL/WEB/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63544/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63544/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63544/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetListFilmsByIdActor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListFilmsByIdActor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFilmsByIdActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListFilmsByIdActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCharacterByIdActorAndIdFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCharacterByIdActorAndIdFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCharacterByIdActorAndIdFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCharacterByIdActorAndIdFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindListFilmByPartialActorName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindListFilmByPartialActorName" />
  </wsdl:message>
  <wsdl:message name="IService1_FindListFilmByPartialActorName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindListFilmByPartialActorNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFavoriteFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFavoriteFilms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFavoriteFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFavoriteFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFullActorDetailsByIdActor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullActorDetailsByIdActor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFullActorDetailsByIdActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullActorDetailsByIdActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCommentOnActorId_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCommentOnActorId" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCommentOnActorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCommentOnActorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFullActor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullActor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFullActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullActorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindActorByPartialName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindActorByPartialName" />
  </wsdl:message>
  <wsdl:message name="IService1_FindActorByPartialName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindActorByPartialNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetListFilmsByIdActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListFilmsByIdActor" message="tns:IService1_GetListFilmsByIdActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListFilmsByIdActorResponse" message="tns:IService1_GetListFilmsByIdActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCharacterByIdActorAndIdFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCharacterByIdActorAndIdFilm" message="tns:IService1_GetListCharacterByIdActorAndIdFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCharacterByIdActorAndIdFilmResponse" message="tns:IService1_GetListCharacterByIdActorAndIdFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindListFilmByPartialActorName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindListFilmByPartialActorName" message="tns:IService1_FindListFilmByPartialActorName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindListFilmByPartialActorNameResponse" message="tns:IService1_FindListFilmByPartialActorName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFavoriteFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFavoriteFilms" message="tns:IService1_GetFavoriteFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFavoriteFilmsResponse" message="tns:IService1_GetFavoriteFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFullActorDetailsByIdActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFullActorDetailsByIdActor" message="tns:IService1_GetFullActorDetailsByIdActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFullActorDetailsByIdActorResponse" message="tns:IService1_GetFullActorDetailsByIdActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCommentOnActorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCommentOnActorId" message="tns:IService1_InsertCommentOnActorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCommentOnActorIdResponse" message="tns:IService1_InsertCommentOnActorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFullActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFullActor" message="tns:IService1_GetFullActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFullActorResponse" message="tns:IService1_GetFullActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetComments" message="tns:IService1_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCommentsResponse" message="tns:IService1_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindActorByPartialName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindActorByPartialName" message="tns:IService1_FindActorByPartialName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindActorByPartialNameResponse" message="tns:IService1_FindActorByPartialName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListFilmsByIdActor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListFilmsByIdActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCharacterByIdActorAndIdFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCharacterByIdActorAndIdFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindListFilmByPartialActorName">
      <soap:operation soapAction="http://tempuri.org/IService1/FindListFilmByPartialActorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFavoriteFilms">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFavoriteFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullActorDetailsByIdActor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFullActorDetailsByIdActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCommentOnActorId">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCommentOnActorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullActor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFullActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActorByPartialName">
      <soap:operation soapAction="http://tempuri.org/IService1/FindActorByPartialName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63544/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>